@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.content_text {
    width: 620px;
}

.project_area {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    margin-top: 50px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    transition: all ease 0.5s;
    padding: 10px;
}

.project_area:hover {
    background-color: rgb(15, 15, 15);
}

.content_text {
    width: 700px;
}

.project_area img {
    border-radius: 15%;
    width: 400px;
    height: 300px;
}

.project_area div h2,ul,p {
    margin-top: 20px;
}

.project_subtitle {
    font-size: 2pc;
}

@media only screen and (max-width: 1090px) {
    .project_area {
        text-align: center;
    }
    .content_text {
        width: 400px;
    }
}

