@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3pc;
}

.project_subtitle {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.main {
    margin: 60px;
}

.about_me {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

.profile_picture {
    border-radius: 100%;
    border: solid 5px #63F2CA;
    width: 200px;
    height: 200px;
    transition: all ease 0.5s;
}

.profile_picture:hover {
    transform: scale(1.01);
}

.guy_coddig_animation_animation {
    transition: all ease 0.5s;
    width: 500px;
    height: 500px;
    transform: scale(0.99);
}

.guy_coddig_animation_animation:hover {
    transform: scale(1);
}

